@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@100;200;300;400;500;600;700;800&display=swap');

body {
    font-family: 'Kanit', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Kanit', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    NAV STYLE
----------------------------------------------------- */
.navbar {
    padding: 15px 10px;
    background: #f8f9fa;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    height: 85px;
    border-bottom: 2px solid #EE3F4C;
    ;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.btn-light {
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.btn-light i {
    color: #EE3F4C;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #26303A;
    color: #fff;
    transition: all 0.3s;

}

#sidebar.active {
    margin-left: -250px;
}


#sidebar .sidebar-header {
    padding: 20px;
    background: #f8f9fa;
    border-bottom: 2px solid #EE3F4C;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 20px;
    font-size: 1.1em;
    display: block;
    text-align: center;
    
}

#sidebar ul li a:hover {
    color: #ffffff;
    background: #EE3F4C;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #EE3F4C;
}


a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #26303A;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
    padding: unset;
}

/* ---------------------------------------------------
    DASHBOARD PAGE STYLE
----------------------------------------------------- */
#dropdown_dashboard {
    background-color: #F4F4F4; 
    border-radius:5px; 
    padding:8px; 
    font-weight:bold; 
    margin-left: 10px; 
    width: 150px;
}
#back_graph {
    background-color: #F6F6F6; 
    border-radius:5px; 
    height:auto;
}

#head_graph {
    background-color : #EE3F4C; 
    color:white; 
    font-weight:bold; 
    padding:5px; 
    border-radius:5px;
}

#graph {
    background-color:#EBEBEB;
    /* height: 514px; */
    padding : 3px; 
}




/* ---------------------------------------------------
    APPROVE PAGE STYLE
----------------------------------------------------- */

#back_approve {
    border-radius:5px;
    background-color:#F2F2F2; 
    padding: 10px;
    width: 30rem;
}

#button_notapprove{
    color: white; 
    border-radius:5px; 
    border:unset; 
    padding:8px;
}
#button_approve{
    color: white; 
    border-radius:5px; 
    border:unset; 
    padding:8px;
}

#button_unconfirm{
    background-color: #FE5151; 
    color: white; 
    border-radius:5px; 
    border:unset; 
    padding:10px; 
}
#button_confirm{
    background-color: #249D56; 
    color: white; 
    border-radius:5px; 
    border:unset; 
    padding:10px;
}

/* ---------------------------------------------------
    DataTables
----------------------------------------------------- */

div.dataTables_wrapper {
    width: 1200px;
    margin-top: 2rem;
} 


#myTable thead tr th{
    text-align: center;

}

#head_table {
    background-color: #EE3F4C; 
    color: white;
}

#status_wait {
    color: white;  
    text-align: center;
    background-color: orange;
    border-radius: 20px;
    width: 120px;
    height: 40px;
}

#check {
    text-align: center;
}
#date {
    text-align: center;
}

#serial {
    text-align: center;
}

#reason {
    text-align: center;
}

#money{
    text-align: right;
}

#button-detail {
    text-align: center;
}

/* ---------------------------------------------------
    MEDIA
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
    #name {
        display: none;
    }

    div.dataTables_wrapper {
        width: 876px;
        margin-top: 2rem;
    }

    .container {
        max-width: 688px;
    }
    
}
@media (max-width: 992px) {

}

@media (max-width: 500px) {
    .page-approve .approve-icon {
        font-size: 30px!important;
    }   
    .page-approve .approve-word{
        font-size: 12px!important;
    }  
    .page-approve .approve-button{
        font-size: 10px!important;
        padding: 3;
    }    
}

/* ---------------------------------------------------
    Notification
----------------------------------------------------- */
.notification {
    margin-left: auto;
    position: relative;
}

.notification_dd{
    position: absolute;
    z-index: 2;
    top: 48px;
    right: -13px;
    background: #fff;
    width: 350px;
    height: auto;
    border: 1px solid #c7d8e2;
    border-radius: 3px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.125), -10px -10px 30px rgba(0, 0, 0, 0.125);
    display: none;
}

.notification_dd::before{
    content: "";
    position: absolute;
    top: -20px;
    right: 15px;
    border: 10px solid;
    border-color: transparent transparent #fff transparent; 
}

.notification_dd li .notify_icon{
    display: flex;
}

.notification_dd li {
    border-bottom: 1px solid #f1f2f4;
    padding: 0px 1px;
    display: flex;
    align-items: center;
}

.notification_dd li .notify_icon i{
    font-size: 12px;
    background-position: 0 -86px;
}

.notification_dd li .notify_data{
    margin: 0 15px;
    width: 185px;
}

.notification_dd li .notify_data .title{
    color: #000;
    font-weight: 400;
    font-size: 15px;
}

.notification_dd li .notify_status p{
    margin-top: 1rem;
    font-size: 14px;
}

.success-text {
    color: #47da89;
}

.failed-text {
    color: #fb0001;
}

.icon_wrap:hover,.notification.active .icon_wrap{
    color: #EE3F4C;
    transition: all 0.3s;
}

.notification.active .notification_dd{
    display: block;
}

.scrollbar {
    margin-top: 0px;
    margin-left: -15px;
    float: left;
    height: 350px;
    width: 330px;
    /* background: #F5F5F5; */
    overflow-y: scroll;
    margin-bottom: 0px;
  }

  #style-1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
  }

  #style-1::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
  }

  #style-1::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
  }